/* Base */

body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#react-root h1, #react-root h2, #react-root h3 {
    line-height: initial;
}

.blue { color: rgb(63, 81, 181); }

/* Layout */

#main {
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 14px;
}

.contents {
    min-height: 375px;
    padding: 5px;
}

/* File upload box */
#upload-area {
    width: 40%;
}

#file-drag {
    border: 2px solid #888;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    height: 200px;
    color: #999;
    margin: 5px 5px 5px 0px;
    opacity: 0.5;
    background-color: rgb(255, 255, 205);
}

#file-drag.hover {
    border: 3px solid green;
}

 /* Result table design */
#resultsPage {
    display: block;
    font-size: 13px;
    font-weight: normal;
}
#result-table {
    margin-top: 60px;
}

#result-table table th {
    color: rgb(147, 137, 90);
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
}

#result-table table tr {
    text-align: center;
}

.trigger {
    text-decoration: none;
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    background-color: rgb(63, 81, 181);
    opacity: 0.8;
    font-size: 10px;
    border: none;
    display: inline-block;
    padding: 3px 8px 3px;
    color: rgb(250, 250, 250) !important;
    font-weight: bold;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    cursor: pointer;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.button:hover, .trigger:hover {
    background: -moz-linear-gradient(top, rgb(63, 81, 181) 0%, rgb(100, 100, 100) 100% );
    background: -webkit-linear-gradient(top, rgb(63, 81, 181) 0%, rgb(100, 100, 100) 100% );
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}

.button, .nav-button, .help-nav-button {
    /* font-family: 'Open Sans', sans-serif; */
    text-decoration: none;
    background-color: rgb(63, 81, 181);
    opacity: 1;
    font-size: 12px;
    border: none;
    display: inline-block;
    padding: 5px 5px 5px;
    color: rgb(250, 250, 250);
    font-weight: normal;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    cursor: pointer;
    -moz-box-shadow: 0 1px 2px rgb(63, 81, 181, 0.5);
    -webkit-box-shadow: 0 1px 2px rgb(63, 81, 181, 0.5);
    height: 30px;
    border-radius: 1px;
    margin: 2px;
}

/* Button on the first page */
#uploadpageButton {
    font-size: 26px;
    padding: 10px 20px 10px;
    text-decoration: none;
}

/* Box for the uploadpageButton */
#uploadpageButtonBox {
    margin: 0 auto;
    width: 339px;
}

#backToEditData {
  float: right;
}

/* Hover button appearance */
.button:hover, .trigger:hover {
    background: -moz-linear-gradient(top, rgb(63, 81, 181) 0%, rgb(63, 81, 181) 100% );
    background: -webkit-linear-gradient(top, rgb(63, 81, 181) 0%, rgb(63, 81, 181) 100% );
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none !important;
}
.nav-button:hover {
    color: white;
}

.button:active, .trigger:active, #uploadpageButton:active, .nav-button:active,
.help-nav-button:active {
    position: relative;
    top: 1px;
}

/* Clicked button action */
.button:active, #uploadpageButton:active, .nav-button:active,
.help-nav-button:active {
    position: relative;
    top: 1px;
}

/* Floating button for starting simulation */
#sim-button-log-checkbox {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.saveFileButton {
    width: 120px;
}

#startSimulationButton {
  margin-top: 10px;
  width: 150px;
  height: 70px;
  font-size: 20px;
}

#save-file-button, #submit-button {
  text-align: center;
}

#continue-button {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 13px;
}

.toggle-trigger {
    padding-top: 5px;
    background-color: rgb(63, 81, 181);
    margin-top: 10px;
    margin-bottom: 0;
    /*height: 20px;*/
    width: 100%;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    /*cursor: pointer;*/
    box-shadow: 0 2px 2px #666;
    color: white;
}

h2.toggle-trigger a {
    color: white;
    text-decoration: none;
    display: block;
}

h2.toggle-trigger a:hover { color: #ccc; }
h2.toggle-trigger a:active {
    position: relative;
    top: 1px;
}

.modelSimInfo, .resources, .task, .timetables, .gatewayGroup, .catchEvent, .results-box, .gateway {
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #bbb;
    padding: 8px;
}

.results-general {
    margin-top: 20px;
}

.gateway {
    margin-bottom: 0;
}

.first-column {
    width: 100px;
}

.first-row {
    height: 30px;
    text-align: center;
}

.second-column label {
    display: inline;
}

table {
    border: 0px !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

#instructions  {
float: right;
    width: 55%;
}

#logCheckBox {
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
}


.chart {
    float: left;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
#results table TD{
    padding: 10px;
}

.col-title {
  display: inline;
  font-weight: bold;
}

.task-kpi-table {
  border: 0px;
  width: 100%;
}

.col-group-title {
  text-align: center !important;
  width: 15%;
}

#uploadNewFile, .saveFileButton, #downloadLog, #downloadCsv {
    float: right;
    margin-bottom: 10px;
}

.model-data, #fileName {
  font-weight: bold;
}

#file-select {
  border: 0px !important;
}

.qbp-toppositions {
  /*background: #f2f4ef;*/
  border: 1px solid #e1e1e1;
  border-radius: 5px 5px 5px 5px;
  float: left;
  padding: 15px;
  text-shadow: 0 1px #ffffff;
  width: 97%;
  min-height: 400px;
}

#instructions h3, #upload-area h3, .clearpad h2, #resultsPage h3, #resultsPage h2 {
  color: #555;
  vertical-align: middle;
}

#result-table table tr td  {
  text-align: left;
}

.charts {
  height: 740px;
}

.StartDateTime {
  display: inline-table;
}

.DatePicker {
  display: table-cell;
  width: 140px;
}

.TimePicker {
    display: table-cell;
    width: 60px;
    padding-left: 15px;
}

.histogram-data-div {
    overflow-y: auto;
    max-height: 400px;
    min-height: 300px;
}

a[disabled] {
    pointer-events: none;
}

.StatsOptions {
    display: flex;
}

.StatsOptions > * {
    margin-top: auto;
    margin-bottom: auto !important;
    margin-left: 4px;
    margin-right: 4px;
}

.form {
   width: 100%
}